<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Italic-VariableFont_wght.ttf</string>
		<string>Montserrat-VariableFont_wght.ttf</string>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_ipp._tcp</string>
		<string>_scanner._tcp</string>
		<string>_pdl-datastream._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>I would like to find scanners.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
</dict>
</plist>
